
<mat-card class="margin">
  <div class="row ">

    <div class="col-2 ">
      <img alt="Avatar" src="assets/images/blue_code_img.jpg">
    </div>
    <div class="col-8">
      HI some content to add example example example example example
      example example example example example example example example example example <br>
      example example example example example example example example example example <br>
      example example example example example example example example example example <br>
    </div>

  </div>

</mat-card>

<mat-card class="margin">
  <div class="row ">

    <div class="col-8">
      <b>Skills</b><br>
     Angular -     <ngx-star-rating ngModel="3"  = true [id]="test"></ngx-star-rating>


    </div>

  </div>

</mat-card>
