
.background {
  height:auto;
  min-height:100vh;
  background-image: url("/assets/images/yellowood.jpg");
  height: 100%;
  background-size:cover;
  background-position:center;
}


.rightclass{
  float: right;
}

.scrollhide{
  overflow: hidden;
  transform: none;
}
